# Python
backend/venv/
backend/__pycache__/
backend/*.db
backend/.env

# Node
frontend/node_modules/
frontend/build/

# General
.DS_Store

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup